
{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="page-container">
    <!-- HEADER DESKTOP-->
    {%include 'userbar.html'%}
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Username: {{ request.user.username }}</h2>


{#                            <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'teacher_create' %}">#}
{#                                <i class="zmdi zmdi-plus"></i>add</a>#}
                        </div>

                    </div>
                </div>
                <br>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                <h2>Last actions:</h2>
                {% for act in request.session.actions %}
                    <div class="row">{{ act }}</div>
                {% endfor %}
            </div>

                <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-bank"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{request.session.subject_count  }}</h2>
                                        <span>Count</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <div class="chartjs-size-monitor"
                                         style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock %}